@import 'bootstrap/scss/bootstrap';

:root {
  // --heading-color: #023047;
  // --h1-color: #f6f6f6;
  // --h2-color: var(--heading-color);
  // --h3-color: #023047;
  // --h4-color: #c33c3a;
  // --h5-color: #023047;
  // --donate-btn-background-color: #abbae5;
  // --donate-btn-border-color: #364871;
  // --menu-link-hover-color: #abc6dc;
  // --background-color: #0c3c5e;
  // --navbar-color: #50043c; // plum
  // --navbar-color: #64043c; // wine
  // --text-background-color: #f6f6f6;
  // --names-background-color: #29709a;

  // option2
  --background-color: #0c3c5e;
  --donate-btn-background-color: #abbae5;
  --donate-btn-border-color: #364871;
  --h1-color: #f6f6f6;
  --h2-color: var(--heading-color);
  --h3-color: #023047;
  --h4-color: #c33c3a;
  --h5-color: #023047;
  --heading-color: #023047;
  --menu-link-hover-color: #abc6dc;
  --names-background-color: #7891b9;
  --navbar-color: #820660;
  --text-background-color: #f2ebe9;
}

.h4-color {
  color: var(--h4-color);
}

body {
  background-color: var(--background-color)
}

h1 {
  color: var(--h1-color);
  filter: drop-shadow(8px 8px 10px black);
}

h2 {
  color: var(--h2-color);
}

h3 {
  color: var(--h3-color);
  filter: drop-shadow(8px 8px 10px black);
}

h4,
.card-title {
  color: var(--h4-color);
}

h5 {
  color: var(--h5-color);
}
.flex-equal>* {
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal>* {
    flex: 1;
  }
}

.icon-link>i {
  width: .75em;
  height: .75em;
}

img {
  height: 50%;
}

nav {
  background-color: var(--navbar-color);
}

.nav-link,
.nav-link:focus,
.navbar-brand,
.navbar-toggler {
  color: #ebe3da;
  filter: drop-shadow(8px 8px 10px black);
  font-size: 1.2em;
}

.nav-link:hover,
.nav-link.active {
  color: black;
  background-color: var(--menu-link-hover-color);
  border-radius: 5px;
}

.card {
  background-color: var(--text-background-color);

  a {
    color: #5c84ae;
  }
}

.offcanvas-body {
  background-color: var(--background-color);
}

.offcanvas-header {
  color: #364958;
  background-color: #ebe3da;
}

.candidates {
  background-image: url(/img/main/candidates.jpeg);
  background-size: cover;
  height: 200px;
  background-position: center 30%;
  border: solid #253950;
  border-width: 2px 0 0 0;
}

.candidate-names {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-size: x-large;
  display: none;
  background-color: var(--names-background-color);
  border: solid #364871;
  border-width: 1px 0 1px 0;
}
.candidate-names a {
  color: #ebe3da;
  text-decoration: none;
}

.candidate-names a:hover {
  color: var(--bs-primary);
}

.candidates-overlay {
  display: none;
}

.social-link {
  font-size: 32px;
}
.image-list-group-image {
  order: inherit;
}

.only-on-mobile {
  display: initial;
}

.img-fluid {
  filter: drop-shadow(8px 8px 10px gray);
}

.p2-list {
  margin-top: 0;
  li::marker {
    color: var(--h4-color);
  }
}

.p2-1 {
  font-size:1.2em;
  text-align:center;
  display:block;
}

.issue {
  a {
    color: #5c84ae;
  }

  img {
    width:200px;
    filter: drop-shadow(8px 8px 10px gray);
  }

  .img-1 {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  .clear {
    display: block;
    clear: left;
  }

  .img-2 {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
    width: 300px;
  }

  .img-3 {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
    width: 250px;
  }

  .img-4 {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    width: 300px;
    img {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .offcanvas-body {
    background-color: inherit;
  }
  .image-list-group-image {
    order: 2;
  }

  .only-on-mobile {
    display: none;
  }
}

@media (min-width: 1216px) {
  .candidates {
    height: 550px;
    background-position: center 20%;
  }

  .candidate-names {
    display: flex;
  }

  .candidates-overlay {
    display: block;
  }
}