/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root {
--navbar-color1: #004e80;
  --navbar-color2: #ACE1AF;
  --navbar-color3: #023047;

--heading-color: #023047;
--h1-color: var(--heading-color);
  --h2-color: var(--heading-color);
  --h3-color: var(--heading-color);
  --h4-color: var(--heading-color);
  --h5-color: var(--heading-color);

--donate-btn-background-color: #de5499;
  --donate-btn-border-color: var(--bs-primary);

--background-color1: #87A96B;
  --background-color2: #606c38;
  --background-color3: #d6e9f2;
  --background-color4: #eddcd9;

--text-background-color1: #588157;
  --text-background-color2: #ACE1AF;
  --text-background-color3: #bcdca5;
  --text-background-color4: #c8cd8a;
  --text-background-color5: #d8dbac;
  --text-background-color6: #d6e9f2;
  --text-background-color7: #ebe3da;
  --text-background-color8: #f2ebe9;

--names-background-color1: #55574c;
  --names-background-color2: #005b7f;
  --names-background-color3: #303179;
  --menu-link-hover-color: #abc6dc;

  --background-color: var(--background-color4);
    --navbar-color: var(--navbar-color3);
    --text-background-color: var(--text-background-color8);
    --names-background-color: var(--names-background-color3);
  }

  body {
    background-color: var(--background-color)
  }

        h1 {
          color: var(--h1-color);
        }
    
        h2 {
          color: var(--h2-color);
        }
    
        h3 {
          color: var(--h3-color);
        }
    
        h4,
  .card-title {
    color: var(--h4-color);
    }
    
    h5 {
      color: var(--h5-color);
    }
  .flex-equal>* {
    flex: 1;
  }

  @media (min-width: 768px) {
    .flex-md-equal>* {
      flex: 1;
    }
  }

  .icon-link>i {
    width: .75em;
    height: .75em;
  }

  img {
    height: 50%;
  }

  nav {
    background-color: var(--navbar-color);
  }

  .nav-link,
  .nav-link:focus,
  .navbar-brand,
  .navbar-toggler {
    color: #ebe3da;
  }

  .nav-link:hover,
  .nav-link.active {
    color: black;
    background-color: var(--menu-link-hover-color);
    border-radius: 5px;
  }

  .card {
    background-color: var(--text-background-color);
  }

  .offcanvas-body {
    background-color: var(--background-color);
  }

  .offcanvas-header {
    color: #364958;
    background-color: #ebe3da;
  }

  .candidates {
    background-image: url(/img/main/candidates.jpeg);
    background-size: cover;
    height: 200px;
    background-position: center 30%;
  }

  .candidate-names {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: x-large;
    display: none;
    background-color: var(--names-background-color);
  }
  .candidate-names a {
    color: #ebe3da;
    text-decoration: none;
  }

  .candidate-names a:hover {
    color: var(--bs-primary);
  }

  .candidates-overlay {
    display: none;
  }

  .social-link {
    font-size: 32px;
  }
  .image-list-group-image {
    order: inherit;
  }

  .only-on-mobile {
    display: initial;
  }

  .img-fluid {
    filter: drop-shadow(8px 8px 10px gray);
  }

  @media (min-width: 768px) {
    .offcanvas-body {
      background-color: inherit;
    }
    .image-list-group-image {
    order: 2;
    }

    .only-on-mobile {
    display: none;
    }
  }

  @media (min-width: 1216px) {
    .candidates {
      height: 550px;
      background-position: center 20%;
    }

    .candidate-names {
      display: flex;
    }

    .candidates-overlay {
      display: block;
    }
  }